<% provide(:title, 'Questions Index') %>
<h1>Questions index</h1>



<ul class="questions">
  <% @questions.each do |question| %>
    <%= render question %>
  <% end %>
</ul>

<%= link_to("New Question", new_question_path) %>

<% if session[:current_item_id] %>
<p>
<%= link_to("Go to Item "+session[:current_item_id].to_s, "/items/"+session[:current_item_id].to_s+"/edit") %>
<% end %>
