<% provide(:title, 'About Brian') %>

    <h1>About StemLoops</h1>
    <p>
  	<i>STEMLOOPS: "<a rel="prettyPhoto" title="" href="#2">STEM</a> learning out of problem solving"</i> <br><br>


  	
  	The fundamental drivers of the site are:<br><br> 

  	1) the idea that people learn by applying ideas, and that in the STEM subjects this often means problem solving;<br>
  	2) the <a rel="prettyPhoto" title="" href="#1">golden rule</a> that "you are allowed to get stuck, but you're not allowed to stay stuck".<br><br>

  	StemLoops aims to provide the possibility for presenting genuinely challenging problems, whose solution is enough of an achievement to give real satisfaction, together with hints that mean the determined solver need not stay stuck for ever. The achievement of this goal is naturally dependent on the quality of the content that's put on the site, but it's hoped that the site provides (or can be developed so it does provide) a suitable platform on which this can be done.<br><br>

    In real life, stem-loops are a feature of RNA or DNA strands that pair up with themselves, with the loop coming where they double back. This is not a site about molecular biology. But leaving aside the acronym above, stem-loops, via their most celebrated possessor tRNA, do hint at two wonderful examples of problem-solving: both <a rel="prettyPhoto" title="gobsmackingness of tRNA" href="#0">the fact of tRNA's evolution and the work of the people who discovered its role and structure</a>. So I've adopted the shape of tRNA and the name StemLoops, provisionally at least, as the motifs of this site.<br><br>

    
    <div id= "0" class="hide">I'm not claiming any expertise (or significant knowledge at all) as to the evolution or the discovery of tRNA. However, I think that even an outline awareness of what it is and does is enough to justify being awed on both counts.</div>

    <div id= "1" class="hide">Shucks, it seems gold has been taken. Call it the titanium rule.</div>

    <div id= "2" class="hide">Science, Technology, Engineering, Mathematics</div>
 
 
