<% provide(:title, 'About Brian') %>

    <h1>About StemLoops</h1>
    <p>
  	<i>"STEM learning out of problem solving"</i> <br><br>


  	Sadly, this is not a site about molecular biology. But even aside from the forced acronym, stem-loops, via their most celebrated possessor, tRNA, do provide two wonderful examples of problem-solving: <a rel="prettyPhoto" title="gobsmackingness of tRNA" href="#0">the fact of tRNA's evolution and the work of the people who discovered its role and structure</a> . So I've adopted the shape of tRNA and the name StemLoops as the (provisional) motifs of this site.<br><br>

  	The fundamental drivers of the site are:<br><br> 

  	1) the idea that people learn by applying ideas, and in the STEM subjects this often means problem solving;<br>
  	2) the <a rel="prettyPhoto" title="" href="#1">golden rule</a> that "you are allowed to get stuck, but you're not allowed to stay stuck".<br><br>

  	StemLoops aims to provide the possibility for presenting genuinely challenging problems, whose solution is enough of an achievement to be a real satisfaction, together with hints that mean the determined solver need not stay stuck for ever. The achievement of this goal is naturally dependent on the quality of the content that's put on the site, but it's hoped that the site provides (or can be developed so it does provide) a suitable platform on which this can be done.<br><br>
    
    <div id= "0" class="hide">Don't imagine I'm claiming any knowledge of the evolution or the discovery of tRNA, but I don't think that such knowledge is a prerequisite of being awed, though I'm sure it helps.</div>

    <div id= "1" class="hide">Shucks, it seems gold has been taken. Call it the titanium rule.</div>
 
 
