

<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAs3rVuh7Q7tjCxroZi8Vph92fW91dizuQYMha8fb7m85BDoX03r3wZBmXwbCLM8k1WsCruOc4phOLilKmpzibSXdwFAY2RoJTL2JV0e3Coo/95ifs9SXhi/AR6ORiBGXEIlfG7l7n90LZHqqcN//L+WBkH2kFLILn4itN5HTY277i6NyklTFPex3Ye4aeRyboUS1UmcJ8OqqgWTW1MlJ2TE4uUX5AY1HtAm4EVTFODM/H2a3J4uDHb3D9yRF5wToQcax3w6BemI7FTKSn65QJoQ0WiZIojrCnPEOz356JzMfkCcNG7HqVot9Ij28IQQDZagMJTzP23QZdz5fU7y8/uQ== brian.spam@ntlworld.com
    
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rook.png", alt: "Rails"), 'http://languagelog.ldc.upenn.edu/nll/' %>

