


  <h1>Welcome to StemLoops </h1>

  <h2>
   
  
    
<table class="table", text-align="center">  
         
        <tbody>  
          <tr>
            <td><h2>	
            <img src="http://i970.photobucket.com/albums/ae189/gumboil/website/starsTTT.png" width="20"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/starsTFT.png" width="20"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/gold.png" width="57"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/none.jpg" width="57"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/stemlooppink.png" width="57"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/none.jpg" width="57"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/gold.png" width="57"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/starsTFT.png" width="20"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/starsTTT.png" width="20"></td> 
            </h2>
          </tr>
          <tr><td></td></tr> 
           
          
        </tbody>  
      </table>  

  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>



