

<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
    \[\int_a^b f(x) dx=F(b)-F(a)\]
   
  <div id="link1" class="hide">
    <h5><p>This is a nice picture of a cuboid</p></h5>bum
  </div>
   
<table class="table">  
         
        <tbody>  
          <tr>
            <td>	
            <img src="http://i970.photobucket.com/albums/ae189/gumboil/website/ttt.png" width="10"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/tff.png" width="10"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/ttf.png" width="10"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/ttt.png" width="10"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/fft.png" width="10"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/fff.png" width="10"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/finishline.png" width="1"></td>  
            <td><a href="#link1" rel="prettyPhoto" title=""><img src="" alt="Fig 1" width="60" /></a></td>
          </tr> 
          <tr> 
            <td><iframe frameborder="0" width="480" height="360" src="http://www.dailymotion.com/embed/video/k2QPSNlE6ULYHO36cm6"></iframe><br /></i></td>  
            <td>Vid 1</td>    
          </tr>  
          
        </tbody>  
      </table>  

  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rook.png", alt: "Rails"), 'http://languagelog.ldc.upenn.edu/nll/' %>

