


  <h1>Welcome to StemLoops </h1>

  <h2>
   
  
    
<table class="table", text-align="center">  
         
        <tbody>  
          <tr>
            <td><h2>	
            <img src="http://i970.photobucket.com/albums/ae189/gumboil/website/starsTTT.png" width="20"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/starsTFT.png" width="20"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/gold.png" width="57"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/none.jpg" width="57"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/stemlooppink.png" width="57"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/none.jpg" width="57"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/gold.png" width="57"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/starsTFT.png" width="20"><img src="http://i970.photobucket.com/albums/ae189/gumboil/website/starsTTT.png" width="20"></h2></td> 
            
          </tr>
          <tr><td></td></tr> 
           
          
        </tbody>  
      </table>  



  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>


  </h2>
<a href="http://www.youtube.com/embed/37I9dTnV7Uw?iframe=true&width=100%&height=100%" rel="prettyPhoto[iframes]" title="Video">Click here for a video on how to use the site
      
  <% if users_browser_ie? %>
      It appears you are using Internet Exporer. This site does not currently work well with IE, and you are strongly advised to use a different browser.
  <% end %>

  

