<% provide(:title, 'All Elements') %>
<h1>All Elements</h1>



<ul class="elements">
  <% @elements.each do |element| %>
    <%= render element %>
  <% end %>
</ul>

<%= link_to("New Element", new_element_path) %>

