<tr>
  <td>
  <b><%= item.id %></b>
  </td>
  <td>
  <% if item %>
  <%= link_to item.name, item %>
  </td>
  <td>
  <%= User.find_by_id(item.author).name %>
  </td>
  <td>
  <i><%= item.tags %></i>
  </td>
  <td>
  <% if current_user.admin?||current_user.id==item.author %>

      <%= link_to "edit", edit_item_path(item.id) %>

    | <%= link_to "delete", item, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  <% end %>
</td>
