<% provide(:title, 'All Items') %>
<h1>All Items</h1>


<ul class="items">
  <% @items.each do |item| %>
    <%= render item %>
  <% end %>
</ul>

<%= link_to("New Item", new_item_path) %>

<% if session[:current_item_id] %>
<p>
<%= link_to("Go to Item "+session[:current_item_id].to_s, "/items/"+session[:current_item_id].to_s+"/edit") %>
<% end %>
