


<%= form_tag :action => 'update' %>
<input type="textbox" name=":session[:ar[]]">
<input type="textbox" name=":session[:ar[]]">
<input type="textbox" name=":session[:ar[]]">
<input type="textbox" name=":session[:ar[]]">

 <input type="submit" value="Submit" />
 </form>
